html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	position: absolute;
}

main {
	text-align: center;
	padding: 0;
	margin: 0;
	height: auto;
	left: 50%;
	position: relative;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

